{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="static/avatar/{{ current_user.picture }}"width="75" height="75">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                  <div class="form-group">
                      {{ form.firstname(class="form-control", placeholder="First Name") }}
                  </div>
              <div class="form-group">
                {{ form.lastname(class="form-control", placeholder="Last Name") }}
              </div>        
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <!-- Update Avatar -->
        <div class="form-group">           
            <!-- This button makes the popup modal "avatarModal" appear-->
            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#avatarModal">
              Change Profile Picture
            </button>
            <img class="rounded-circle account-img" src="static/avatar/{{ current_user.picture }}"width="75" height="75">  
        </div>
        
        
        <form method="POST" action="" enctype="multipart/form-data">
                 <div class="form-group">
                        {% if form.school.errors %}
                            {{ form.school(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.school.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.school(class="form-control", placeholder="School") }}
                        {% endif %}
                </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
         <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Password</legend>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    
<!-- Avater Popup Modal -->

<div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="avatarModalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document" >
  <form  method="POST" action="{{ url_for('account') }}">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="avatarModalLabel">Select an Avatar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select class="image-picker" name="avatarSelect">
              <option data-img-src="static/avatar/default.png" value="default.png"></option>
              <option data-img-src="static/avatar/Demo_Day_Logo.png" value="Demo_Day_Logo.png"></option>
              <option data-img-src="static/avatar/Horizontal_Header.png" value="Horizontal_Header.png"></option>
              <option data-img-src="static/avatar/illustration_logo_dark.png" value="illustration_logo_dark.png"></option>
              <option data-img-src="static/avatar/MESA OR_Logo_Large_25Years.jpg" value="MESA OR_Logo_Large_25Years.jpg"></option>
              <option data-img-src="static/avatar/mesa-invention-b-2.png" value="mesa-invention-b-2.png"></option>
              <option data-img-src="static/avatar/Portland_State_University.png" value="Portland_State_University.png"></option>
        </select>
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button class="btn btn-default" type="submit">Update Avatar</button>
      </div>
    </div>
    </form>
  </div>
</div>


{% endblock content %} 
