{% extends "layout.html" %}
{% block content %}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}


            <!-- Add School -->
        <form name ="form_name" method="POST" action="" enctype="multipart/form-data">
            {{ form_school.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form_school.schoolName(class="form-control", placeholder="School Name") }}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form_school.submit(class="btn btn-outline-info") }}
            </div>
        </form>



{% endblock content %}
