{% extends "layout.html" %}
{% block content %}
<body class="fixed-sn white-skin">

    <!--Main Navigation-->
    <header>

        <!--Navbar-->
        <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="fa fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="breadcrumb-dn mr-auto">
               
            </div>

            <!--Navbar links-->
            <ul class="nav navbar-nav nav-flex-icons ml-auto">

                <!-- Dropdown -->
                <li class="nav-item dropdown notifications-nav">
                    <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="badge red">3</span> <i class="fa fa-bell"></i>
                        <span class="d-none d-md-inline-block">Notifications</span>
                    </a>
                    <div class="dropdown-menu dropdown-info" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-money mr-2" aria-hidden="true"></i>
                            <span>Notification 1</span>
                            <span class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 13 min</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-money mr-2" aria-hidden="true"></i>
                            <span>Notification 2</span>
                            <span class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 33 min</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-line-chart mr-2" aria-hidden="true"></i>
                            <span>Notification 3</span>
                            <span class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 53 min</span>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect"><i class="fa fa-calendar"></i> <span class="clearfix d-none d-sm-inline-block">Calendar</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Profile</span></a>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <div class="navbar-login">
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" class="img-fluid" alt="First sample image">
                                </div>
                                <div class="col-lg-8">
                                    <a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>
                                    <a class="dropdown-item" href="#">Edit Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
            <!--/Navbar links-->
        </nav>
        <!--/.Navbar-->

        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav sn-bg-4 fixed">
            <ul class="custom-scrollbar">
            <!-- Logo -->
            <li class="logo-sn waves-effect">
                <div class="text-center">
                    <a href="#" class="pl-0"><img src="../static/img/mesa.png" class=""></a>
                </div>
            </li>
            <!--/. Logo -->
            <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li><a href="{{ url_for('dashboard') }}" class="collapsible-header waves-effect arrow-r"><i class="fa fa-tachometer"></i> Dashboards</a>
                    </li>
                    <li><a href="{{ url_for('earn_stamps') }}" class="collapsible-header waves-effect arrow-r"><i class="fa fa-photo"></i> Get Stamp</a>
                    </li>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-user"></i> View Progress<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                {% for r, i in result %}
                                <li><a href="/badges/{{ i }}" class="waves-effect">{{ r }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <!--/. Side navigation links -->
            </ul>
            <div class="sidenav-bg mask-strong"></div>
        </div>
        <!--/. Sidebar navigation -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main>

        <div class="container-fluid">

            <!-- First row -->

            <div class="row">

                <!-- First column -->

                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-8">
                            <div class="card mb-4">
                                <div class="card-header white-text primary-color">
                                    Countdown
                                </div>
                                <div class="card-body">
                                </div>
                            </div>    
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <div class="card mb-4">
                                <div class="card-header white-text primary-color">
                                    Countdown
                                </div>
                                <div class="card-body">
                                </div>
                            </div>    
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <div class="card mb-4">
                                <div class="card-header white-text primary-color">
                                    Countdown
                                </div>
                                <div class="card-body">
                                </div>
                            </div>    
                        </div>
                    </div> 
                    <!--Panel-->
                    <div class="card mb-4">
                        <div class="card-header white-text primary-color">
                           Badge Information
                        </div>
                        <div class="card-body">
                            <!-- Main student badge content goes here -->
                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-4 mb-4">
                                    <!--Featured image-->
                                    <div>
                                        <div style="align-items: center;justify-content: center;display: flex;height: 10em">
                                        <img class="rounded-circle account-img" src="../static/badge_icons/{{ picture_file }}">
                                        </div>
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-7 mb-4">
                                    <!--Excerpt-->
                                    <a href="" class="teal-text"><h6 class="pb-1"><i class="fa fa-heart"></i><strong> Level {{ lv }} </strong></h6></a>
                                    <h4 class="mb-4"><strong>Earned points for Badge {{ badge_name }}</strong></h4>
                                    <p>You've earned {{ pt }} points for this badge</p>
                                    {% if to_next_lv == 0 %}
                                        <p><a><strong>You've achieved the maximum level!</strong></a></p>
                                    {% else %}
                                        <p><a><strong>You need {{ to_next_lv }} points to get next level</strong></a></p>
                                    {% endif %}
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->
                        </div>
                    </div>
                    <!--/.Panel-->

                    <!-- Panel -->

                    <div class="card mb-4">
                        <div class="card-header white-text primary-color">
                            Unearned Stamps For Badge {{ badge_name }}
                        </div>
                        <div class="card-body">
                            <table class="table table-hover mb-0" id="unearnedTable">
                                <thead>
                                    <th>Unearned Stamps</th>
                                </thead>
                                <tbody>
                                    {% for u in unearned %}
                                        <tr><td>{{ u }}</td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- /.Panel -->

                    <!-- Panel -->

                    <div class="card mb-4">
                        <div class="card-header white-text primary-color">
                            Earned Stamps For Badge {{ badge_name }}
                        </div>
                        <div class="card-body">
                            <table class="table table-hover mb-0" id="earnedTable">
                                <thead>
                                    <th>Earned Stamps</th>
                                </thead>
                                <tbody>
                                    {% for u in earned %}
                                        <tr><td>{{ u }}</td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- /.Panel -->

                </div>

                <!-- /.First column -->

                <div class="col-lg-4 col-md-12">

                    <!--Panel-->
                    <div class="card mb-4">
                        <div class="card-header white-text primary-color">
                            Calendar
                        </div>
                        <div class="card-body">
														<div style="overflow-x:auto;">
																		<iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=pdx.edu_nl0ch7aidsj6hdmsc02toe684s%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FLos_Angeles" style="border-width:1" width="500" height="300" frameborder="0" scrolling="no"></iframe>	
                            		<button class="btn btn btn-flat grey lighten-3 btn-rounded waves-effect font-weight-bold dark-grey-text float-right">View full calendar</button>
                        		</div>
                        </div>
                    </div>
                    <!--/.Panel-->

                    <!--Panel-->
                    <div class="card mb-4">
                        <div class="card-header white-text primary-color">
                            Upcoming Events
                        </div>
                        <div class="card-body">
                        	Upcoming events goes here
                            <button class="btn btn btn-flat grey lighten-3 btn-rounded waves-effect font-weight-bold dark-grey-text float-right">View full upcoming events</button>
                        </div>
                    </div>
                    <!--/.Panel-->
                </div>
                <!-- /.Second row -->
            </div>
    </main>
    <!--Main layout-->
    
{% endblock content %}
{% block scripts %}
    {{ super() }}
{% endblock scripts %}