{% extends "dashboard_layout.html" %}
{% block main %}

<!--Panel-->
<div class="card mb-4" style="background-color: {{ badge.color }}">
    <div class="card-header white-text primary-color">
       Badge Information
    </div>
    <div class="card-body">
        <!-- Main student badge content goes here -->
        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-4 mb-4">
                <!--Featured image-->
                <div style="align-items: center;justify-content: center;display: flex;height: 10em">
                    <!-- <div style="align-items: center;justify-content: center;display: flex;height: 10em"> -->
                    <img class="rounded-circle account-img" src="../static/badge_icons/{{ badge.icon.file_name }}" style="height: 150px">
                    <!-- </div> -->
                    <!-- <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> -->
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-7 mb-4">
                <!--Excerpt-->
                <a href="" class="text" style="color: black"><h6 class="pb-1"><strong> Level {{ lv }} </strong></h6></a>
                <h4 class="mb-4"><strong>Earned points for Badge {{ badge.badge_name }}</strong></h4>
                <p>You've earned {{ pt }} points for this badge</p>
                {% if to_next_lv == 0 %}
                    <p><a><strong>You've achieved the maximum level!</strong></a></p>
                {% else %}
                    <p><a><strong>You need {{ to_next_lv }} points to get next level</strong></a></p>
                {% endif %}
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->
    </div>
</div>
<!--/.Panel-->

<!-- Panel -->

<div class="card mb-4" style="background-color: {{ badge.color }}">
    <div class="card-header white-text primary-color">
        Unearned Stamps For Badge {{ badge.badge_name }}
    </div>
    <div class="card-body">
        <table class="table table-hover mb-0" id="unearnedTable">
            <thead>
                <th>Unearned Stamps</th>
            </thead>
            <tbody>
                {% for u in unearned %}
                    <tr><td>{{ u }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- /.Panel -->

<!-- Panel -->

<div class="card mb-4" style="background-color: {{ badge.color }}">
    <div class="card-header white-text primary-color">
        Earned Stamps For Badge {{ badge.badge_name }}
    </div>
    <div class="card-body">
        <table class="table table-hover mb-0" id="earnedTable">
            <thead>
                <th>Earned Stamps</th>
                <th>earned date</th>
                <th>logged date</th>
                <th style="display:none"></th>
            </thead>
            <tbody>
                {% for u in earned %}
                    <tr>
                        <td>{{ u[3] }}</td>
                        <td>{{ u[2] }}</td>
                        <td>{{ u[1] }}</td>
                        <td><button type="button" class="btn btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" onclick="Values( '{{ u[0] }}', '{{ u[2] }}', '{{ u[1] }}')">
                            delete
                        </button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- /.Panel -->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" >
    <form  method="POST" action="/badges/{{ badge.badge_id }} ">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="avatarModalLabel">Delete Stamp</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <input type="hidden" id='stamp_id' name='stamp_id' value=''>
            <input type="hidden" id='time_finished' name='time_finished' value=''>
            <input type="hidden" id='log_date' name='log_date' value=''>
            <p>Are you sure you want to delete this stamp?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button class="btn btn-default" type="submit">Delete</button>
        </div>
        </div>
    </form>
    </div>
</div>

<script>
$("#deleteModal").modal("hide");
function Values(ID, TimeFinished, LogDate){
    $("#stamp_id").val(ID);
    $("#time_finished").val(TimeFinished);
    $("#log_date").val(LogDate);
}
</script>
{% endblock main %}
{% block scripts %}
    {{ super() }}
{% endblock scripts %}