{% extends "layout.html" %}
{% block content %}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}


<!-- First row -->
<div class="row">
    <!-- First column -->
    <div class="col-lg-4 mb-4">

        <!--Card-->
        <div class="card card-cascade narrower">



            <!-- Card content -->
            <div class="card-body text-center">

            <!--    <img class="rounded-circle account-img" src="static/avatar/{{ current_user.avatar.file_name }}"width="75" height="75"> -->
                <select name="comp_select" class="selectpicker form-control">
              {% for o in data %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>
                <div class="row flex-center">
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-rounded btn-sm" data-toggle="modal" data-target="#avatarModal">
                          Change Badge Icon
                        </button>
                    </div>

                </div>
            </div>
            <!-- /.Card content -->

        </div>
        <!--/.Card-->

    </div>
        <form name ="form_badge" method="POST" action="" enctype="multipart/form-data">
            {{ form_badge.hidden_tag() }}

            <fieldset class="form-group">
                 <div class="form-group">
                        {% if form_badge.badge.errors %}
                            {{ form_badge.badge(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_badge.badge.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_badge.badge(class="form-control", placeholder="Badge") }}
                        {% endif %}
                </div>
            </fieldset>


            <div class="form-group">
                {{ form_badge.submit(class="btn btn-outline-info") }}
            </div>
        </form>

   <!-- Avater Popup Modal -->

<div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="avatarModalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document" >
  <form  method="POST" action="{{ url_for('badge_image') }}">


    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="avatarModalLabel">Select an Avatar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
      <select name="data_select" class="selectpicker form-control" id="data_select">
              {% for o in data %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
      </select>

        <select class="image-picker" id="avatarSelect" name="avatarSelect">
        {% for o in data %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
              {% for file in avatar_files %}
              <option data-img-src="static/avatar/{{ file.file_name }}" value="{{ file.id }}"></option>
              {% endfor %}
        </select>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button class="btn btn-default" type="submit">Update Avatar</button>
      </div>
    </div>
    </form>
  </div>
</div>


{% endblock content %}
