{% extends "layout.html" %}
{% block content %}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}


            <!-- Add Stamp -->

        <form name ="form_badge" method="POST" action="" enctype="multipart/form-data">
            {{ form_badge.hidden_tag() }}

            <fieldset class="form-group">
                 <div class="form-group">
                        {% if form_badge.badge.errors %}
                            {{ form_badge.badge(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_badge.badge.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_badge.badge(class="form-control", placeholder="Badge") }}
                        {% endif %}
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div class="form-group">
                    {{ form_badge.badgeName(class="form-control", placeholder="Badge Name") }}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form_badge.submit(class="btn btn-outline-info") }}
            </div>
        </form>



{% endblock content %}
