{% extends "layout.html" %}
{% block content %}
<style>
  h1,h2,h3,h4,h5,h6{font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
font-weight:700}header.masthead{
  position:relative;
  background-color:#343a40;
  background:url(../static/img/PIC_006.jpg) no-repeat center center;
  background-size:cover;padding-top:8rem;
  padding-bottom:8rem
}
</style>
<body>
  <!-- Start your project here-->
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#"><img src="../static/img/mesa.png" class="" style="width: 150px; height: 50px;"></a>
      <form name="form_l" class="form-inline" method="POST" action="{{ url_for('login') }}">
        <div class="form">
            <!-- Username -->
            {{ form_l.hidden_tag() }}
            {% if form_l.username.errors %}
                {{ form_l.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form_l.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form_l.username(class="form-control", placeholder="username") }}
            {% endif %}
            <!-- Password -->
            {% if form_l.password.errors %}
                {{ form_l.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form_l.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form_l.password(class="form-control", placeholder="Password") }}
            {% endif %}
            <!-- Sign in button -->
            {{ form_l.submit(class="btn btn-outline-info") }}
        </div>
        <div class="form">
            <small class="text-muted ml-2">
                <a href="{{ url_for('reset_request') }}">Forgot Password?</a>
            </small>
            <small class="text-muted ml-2">
                <a href="{{url_for('forgot_username') }}">Forgot Username?</a>
            </small>
        </div>
      </form>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="col-xl-11 mx-auto">
          <h2 class="mb-5">Welcome to MESA Everyday Website</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <!-- Default form register -->
          <form name="form_r" method="POST" action="{{ url_for('register') }}" class="text-center p-5">
              {{ form_r.hidden_tag() }}
              <fieldset class="form-group">
                 <p class="h4 mb-4">Join Today</p>
                  <div class="form-row mb-0">
                    <div class="col">
                      <div class="form-group">
                          {% if form_r.firstname.errors %}
                              {{ form_r.firstname(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in form_r.firstname.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form_r.firstname(class="form-control", placeholder="First Name") }}
                          {% endif %}
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                              {% if form_r.lastname.errors %}
                                  {{ form_r.lastname(class="form-control form-control-lg is-invalid") }}
                                  <div class="invalid-feedback">
                                      {% for error in form_r.lastname.errors %}
                                          <span>{{ error }}</span>
                                      {% endfor %}
                                  </div>
                              {% else %}
                                  {{ form_r.lastname(class="form-control", placeholder="Last Name") }}
                              {% endif %}
                      </div>
                    </div>
                  </div>       
                <div class="form-group">
                    {% if form_r.email.errors %}
                        {{ form_r.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form_r.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form_r.email(class="form-control", placeholder="Email") }}
                    {% endif %}
                </div>
                <div class="form-row mb-0">
                  <div class="col">
                    <div class="form-group">
                        {% if form_r.password.errors %}
                            {{ form_r.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_r.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_r.password(class="form-control", placeholder="Password") }}
                        {% endif %}
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                        {% if form_r.confirm_password.errors %}
                            {{ form_r.confirm_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_r.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_r.confirm_password(class="form-control", placeholder="Confirm Password") }}
                        {% endif %}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                        {% if form_r.school.errors %}
                            {{ form_r.school(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_r.school.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_r.school(class="form-control", placeholder="School") }}
                        {% endif %}
                </div>
              </fieldset>
              <div class="form-group">
                  {{ form_r.submit(class="btn btn-outline-info") }}
              </div>

              <!-- Terms of service -->
              <p>By clicking
                  <em>Sign up</em> you agree to our
                  <a href="" target="_blank">terms of service</a>
              </p>
          </form>
          <!-- Default form register -->
        </div>
    </div>
  </header>
  <!-- /Start your project here-->
{% endblock content %}

