<!DOCTYPE html><html>
<head>
  <title>Terms of Service</title>
<meta charset="utf-8">
<style>

    body{
        color: black;
        background-color: white;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-align: justify;
        padding: 2%;
    }

    a{
        color: #2760b7;
        font-weight: bold;
    }

    #pageTitle{
        text-align: center;
    }

    h3 {
        font-weight: bold;
    }

</style>
</head>
<body>
  <h1 id="pageTitle">Terms of Service</h1>
  <h3>FERPA</h3>
  <p>To comply with the requirements of the Family Educational Rights and Privacy Act (FERPA).  In compliance with FERPA, personally identifiable information obtained by volunteer in performance of MESA events and activities will not be re-disclosed to third parties without written consent of the student’s parent/guardian, and will only be used for the purposes identified in this policy.</p>
  <h3>MESA Trademark/Service Mark/Logo Protection</h3>
  <p>MESA is protected service mark that has been registered with the US Patent and Trademark Office and the California Secretary of State by the Regents.  Oregon MESA and Portland State University has been granted a non-exclusive, non-assignable, revocable, royalty-free, and non-transferable license of the MESA service mark and program model by The Regents.  Use of the MESA service mark is prohibited unless prior written approval granted by the Regents of the University of California.</p>
  <h3>Student IP ownership protection</h3>
  <p>Oregon MESA will protect the student’s right to their invention and design, and grants sole ownership as the student’s creation and property.</p>
  <h3>User Agreement Policy</h3>
  <p>Any user of the MESA Everyday Application agree to the above policies. In addition, the user agrees to treat the system, system owners, other users, and MESA Staff or contractors with respect when using the MESA Everyday Application. The user agrees to abide by, and are subject to any policies set forth by Oregon MESA including but not limited to acceptable use, IP, brand protection, harassment, professional conduct and anti-discrimination policies.</p>
</body>
</html>
